<?xml version="1.0" encoding="UTF-8"?>
<!-- redis的默认配置
	redis.pool.maxActive=512  
	redis.pool.maxIdle=100  
	redis.pool.maxWait=100000  
	redis.pool.testOnBorrow=true  
	redis.pool.testOnReturn=true  
	redis.ip=172.17.6.148  
	redis.port=6379  
	redis.expire=1200 
-->
<jedis.ip>127.0.0.1</ip>
<jedis.port>6379</port>
<redis.pool.expire>1200</expire>
<redis.pool.maxActive>512</maxActive>
<redis.pool.maxIdle>100</maxIdle>
<redis.pool.maxWait>100000</maxWait>
<redis.pool.testOnBorrow>true</testOnBorrow>
<redis.pool.testOnReturn>true</testOnReturn>
<redis.pool.setTestWhileIdle>true</redis.pool.setTestWhileIdle>